# PostgreSQL
DB_HOST=localhost
DB_PORT=54321
DB_NAME=fryfrog
DB_USERNAME=fryfrog
DB_PASSWORD=fryfrog

# Application
SERVER_PORT=20058
DB_POOL_SIZE=10

# TMDB
TMDB_API_KEY=

# Auth
AUTH_ENABLED=true
AUTH_PASSWORD=1234
